# Exclude compiled files
**/*.a
**/*.o
**/*.so
**/*.dll
**/*.exe
**/*.lib
**/*.obj
**/*.out
**/*.zip
**/*.pyc

# Exclude directories
__pycache__
.vs
bin
out
venv
build

# Exclude log files
**/*.log
temp.txt
log.txt

# Exclude Image Files
*.psd
