# Exclude compiled files
*.a
*.o
*.so
*.obj
*.out
*.exe
*.dll
*.lib

# Exclude directories
.vs
bin
out
build

# Exclude log files
test_log.txt
log.txt
temp.txt
CUnit_log.txt

# Exclude Image Files
*.psd
